[Desktop Entry]
Name=VSCodium
Exec=./codium.wrapper %U
Icon=./resources/app/resources/linux/code.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#FFFFFF
